<h1>
  Edit manager #<%= @manager.id %>
</h1>

<hr>

<form action="/update_manager/<%= @manager.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @manager.name %>">
  </div>

  <div class="form-group">
    <label for="dob">
      Dob
    </label>

    <input type="text" id="dob" name="dob" class="form-control" value="<%= @manager.dob %>">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" class="form-control" value="<%= @manager.image %>">
  </div>

  <div class="form-group">
    <label for="bio">
      Bio
    </label>

    <textarea id="bio" name="bio" class="form-control" rows="3"><%= @manager.bio %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update manager
  </button>
</form>

<hr>

<a href="/managers">
  Go back
</a>
