<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All managers
    </h1>

    <a href="/managers/new" class="btn btn-block btn-outline-secondary">
      Add a new manager
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Dob
        </th>

        <th>
          Image
        </th>

        <th>
          Bio
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @managers.each do |manager| %>
      <tr>
        <td>
          <%= manager.id %>
        </td>

        <td>
          <%= manager.name %>
        </td>

        <td>
          <%= manager.dob %>
        </td>

        <td>
          <img src="<%= manager.image %>" width="80">
        </td>

        <td>
          <%= manager.bio %>
        </td>

        <td>
          <%= time_ago_in_words(manager.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(manager.updated_at) %> ago
        </td>

        <td>
          <a href="/managers/<%= manager.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
