<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Investor #<%= @investor.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/investors" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/investors/<%= @investor.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit investor
        </a>
      </div>

      <div class="col">
        <a href="/delete_investor/<%= @investor.id %>" class="btn btn-block btn-outline-secondary">
          Delete investor
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @investor.name %>
      </dd>

      <dt>
        Dob
      </dt>
      <dd>
        <%= @investor.dob %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @investor.image %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @investor.bio %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@investor.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@investor.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

