<% if @option.errors.any? %>
  <% @option.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit option #<%= @option.id %>
</h1>

<hr>

<form action="/update_option/<%= @option.id %>" method="post">

  <div class="form-group">
    <label for="fof_id">
      Fof
    </label>

    <input type="text" id="fof_id" name="fof_id" class="form-control" value="<%= @option.fof_id %>">
  </div>

  <div class="form-group">
    <label for="fund_id">
      Fund
    </label>

    <input type="text" id="fund_id" name="fund_id" class="form-control" value="<%= @option.fund_id %>">
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @option.amount %>">
  </div>

  <div class="form-group">
    <label for="timing">
      Timing
    </label>

    <input type="text" id="timing" name="timing" class="form-control" value="<%= @option.timing %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update option
  </button>
</form>

<hr>

<a href="/options">
  Go back
</a>
