<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All options
    </h1>

    <a href="/options/new" class="btn btn-block btn-outline-secondary">
      Add a new option
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Fof
        </th>

        <th>
          Fund
        </th>

        <th>
          Amount
        </th>

        <th>
          Timing
        </th>

        <th>
        </th>
      </tr>

      <% @options.each do |option| %>
      <tr>

        <td>
         <a href="/fofs/<%= option.fof_id %>">
          <%= option.fof.name %>
         </a> 
        </td>

        <td>
         <a href="/funds/<%= option.fund_id %>">
           <%= option.fund.name %>
         </a> 
       
        </td>

        <td>
          <%= option.amount %>
        </td>

        <td>
          <%= option.timing %>
        </td>


        <td>
          <a href="/options/<%= option.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
