<h1>
  Edit project #<%= @project.id %>
</h1>

<hr>

<form action="/update_project/<%= @project.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @project.name %>">
  </div>

  <div class="form-group">
    <label for="entrepreneur_id">
      Entrepreneur
    </label>

    <input type="text" id="entrepreneur_id" name="entrepreneur_id" class="form-control" value="<%= @project.entrepreneur_id %>">
  </div>

  <div class="form-group">
    <label for="industry">
      Industry
    </label>

    <input type="text" id="industry" name="industry" class="form-control" value="<%= @project.industry %>">
  </div>

  <div class="form-group">
    <label for="business">
      Business
    </label>

    <textarea id="business" name="business" class="form-control" rows="3"><%= @project.business %></textarea>
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @project.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update project
  </button>
</form>

<hr>

<a href="/projects">
  Go back
</a>
