<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All entrepreneurs
    </h1>

    <a href="/entrepreneurs/new" class="btn btn-block btn-outline-secondary">
      Add a new entrepreneur
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>


        <th>
          Name
        </th>

        <th>
          Image
        </th>

        <th>
          dob
        </th>

        <th>
          Bio
        </th>
        

        <th>
        </th>
      </tr>

      <% @entrepreneurs.each do |entrepreneur| %>
      <tr>

        <td>
          <%= entrepreneur.name %>
        </td>

        <td>
          <img src="<%=entrepreneur.image %>" width="80">
        </td>

        <td>
          <%= entrepreneur.dob %>
        </td>

        <td>
          <%= entrepreneur.bio %>
        </td>


        <td>
          <a href="/entrepreneurs/<%= entrepreneur.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
