<h1>
  Edit fof #<%= @fof.id %>
</h1>

<hr>

<form action="/update_fof/<%= @fof.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @fof.name %>">
  </div>

  <div class="form-group">
    <label for="scale">
      Scale
    </label>

    <input type="text" id="scale" name="scale" class="form-control" value="<%= @fof.scale %>">
  </div>

  <div class="form-group">
    <label for="expiration">
      Expiration
    </label>

    <input type="text" id="expiration" name="expiration" class="form-control" value="<%= @fof.expiration %>">
  </div>


 <!-- Label and input for fof user_id -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">



  <button class="btn btn-block btn-outline-secondary">
    Update fof
  </button>
</form>

<hr>

<a href="/fofs">
  Go back
</a>
