<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Fof #<%= @fof.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/fofs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/fofs/<%= @fof.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit fof
        </a>
      </div>

      <div class="col">
        <a href="/delete_fof/<%= @fof.id %>" class="btn btn-block btn-outline-secondary">
          Delete fof
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @fof.name %>
      </dd>

      <dt>
        Scale
      </dt>
      <dd>
        <%= @fof.scale %>
      </dd>

      <dt>
        Expiration
      </dt>
      <dd>
        <%= @fof.expiration %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @fof.user.email %>
      </dd>

     
  <dt>
  Number of options
  </dt>
  <dd>
    <%= Option.where(fof_id: @fof.id).count %>
  </dd>
     
    </dl>
  </div>
</div>




<div class="card mt-4">
  <div class="card-header">
    Pool
  </div>
  <ul class="list-group list-group-flush">
   <% Option.where(fof_id: @fof.id).each do |option| %>
    <li class="list-group-item">
      <a href="/options/<%= option.id %>">
        <%= Fund.find(option.fund_id).name %>
      </a>
      ($ <%= option.amount/1000000 %> million)
      </li>
   <% end %>
  </ul>
  
  <div class="card-header">
   Add a new option for this fof
  </div>

<ul class="list-group">
  <li class="list-group-item">
      
<form action="/create_option" method="post">


 <!-- Label and input for fof id -->
  <input type="hidden" name="fof_id" value="<%= @fof.id %>">

  <div class="form-group">
    <label for="fund_id">
      Fund
    </label>
    <%= select_tag("fund_id", options_from_collection_for_select(Fund.all, :id, :name, @option.try(:fund_id)), :class => "form-control") %>
    or <a href="/funds/new">add a new fund</a> first 
    
  </div>

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control">
  </div>

  <div class="form-group">
    <label for="timing">
      Timing
    </label>

    <input type="text" id="timing" name="timing" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create option
  </button>
  
</form>

  </li>
</ul>