<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All investments
    </h1>

    <a href="/investments/new" class="btn btn-block btn-outline-secondary">
      Add a new investment
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Fund
        </th>

        <th>
          Project
        </th>

        <th>
          Amount
        </th>

        <th>
          Round
        </th>

        <th>
        </th>
      </tr>

      <% @investments.each do |investment| %>
      <tr>
        <td>
          <%= investment.id %>
        </td>

        <td>
         <a href="/funds/<%= investment.fund_id %>">
          <%= investment.fund.name %>
         </a>
        </td>

        <td>
         <a href="/projects/<%= investment.project_id %>">
          <%= investment.project.name %>
         </a>         
        </td>

        <td>
          $<%= investment.amount/1000000 %>million
        </td>

        <td>
          <%= investment.round %>
        </td>

        <td>
          <a href="/investments/<%= investment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
